$color: (
	power-black: #0e0c01,
	slate: #26282a,
	outer-space: #494848,
	granite: #676767,
	soft-gray: #bbbbbb,
	vanilla: #e7ddd2,
	soft-white: #fbfaf5,

	// opaque versions of bas colors
	ebony-opaque: #546747aa,
	lemon-opaque: #fab73d80,
);
